################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SourceCode/.vs
/SourceCode/packages
/SourceCode/SweetSoft.QLDA.BackOffice/bin
/SourceCode/SweetSoft.QLDA.BackOffice/obj/Debug
/SourceCode/SweetSoft.QLDA.BackOffice/Uploads/_logs/2026/8
/SourceCode/SweetSoft.QLDA.Controls/bin/Debug
/SourceCode/SweetSoft.QLDA.Controls/obj/Debug
/SourceCode/SweetSoft.QLDA.Core/bin/Debug
/SourceCode/SweetSoft.QLDA.Core/obj/Debug
/SourceCode/SweetSoft.QLDA.DataAccess/bin/Debug
/SourceCode/SweetSoft.QLDA.DataAccess/obj/Debug
