

# Thư mục build sinh ra (Debug, Release, x64, v.v...)
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache và các file local của IDE
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.dll
*.exe
*.json
*.config
*.bak

# Thư viện NuGet
packages/
*.nupkg


# Bỏ qua tất cả các file Log hệ thống, không đẩy lên Git
SourceCode/SweetSoft.QLDA.BackOffice/Uploads/_Logs/
