<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--**********************PROGRAMER LOGS**********************-->
<!--
-->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>
  <resizer>
    <sizelimits imageWidth="0" imageHeight="0" totalWidth="3600" totalHeight="3600" totalBehavior="throwexception" />
  </resizer>
  <appSettings>
    <add key="SystemName" value="PM Quản Lý Dự Án" />
    <add key="EnableExceptionEmail" value="false" />
    <add key="EnableExceptionLogFile" value="false" />
    <add key="ExceptionLogFilePath" value="C:\Logs\exceptions.log" />
    <add key="IsDevelopment" value="true" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="DefaultLanguage" value="2" />
    <add key="AccessKey" value="QLDA" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="CookieKeyPanel" value="_QLDA_PANEL_DEV_" />
    <add key="CookieKeyClient" value="_QLDA_CLIENT_DEV_" />
    <add key="SessionAppContext" value="_QLDA_SESSION_APP_CONTEXT_PANEL_DEV_" />
    <add key="IsUsedDefaultPassword" value="true" />
    <add key="DefaultPassword" value="123456" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Upload.MaxFileSize" value="1024" />
    <add key="Upload.AllowedExtensions" value=".jpg,.jpge,.png,.pdf,.doc,.docx,.xls,.xlsx,.avi,.mp3,.mp4" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <remove name="SweetSoft.QLDA.BackOffice" />
    <add name="SweetSoft.QLDA.BackOffice" connectionString="Data Source=LAPTOP-JVRSKGRS\MSSQLSERVER1;Initial Catalog=SweetSoft_QLDA3;Persist Security Info=True;User ID=sa;Password=123a123"  />
  </connectionStrings>
  <SubSonicService defaultProvider="DataAccessProvider">
    <providers>
      <clear />
      <add name="DataAccessProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="SweetSoft.QLDA.BackOffice" generatedNamespace="SweetSoft.QLDA.DataAccess" generateLazyLoads="true" />
    </providers>
  </SubSonicService>
  <system.web>
    <globalization culture="vi-VN" uiCulture="vi-VN" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" enableVersionHeader="false" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login" defaultUrl="~/" name=".ASPXFORMSAUTH" timeout="10080" enableCrossAppRedirects="true" ticketCompatibilityMode="Framework40" domain="qlda.local" protection="Encryption" requireSSL="false" />
    </authentication>
    <roleManager enabled="true" defaultProvider="SweetSoftRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="SweetSoft.QLDA.BackOffice" applicationName="SweetSoft.QLDA.BackOffice" name="SweetSoftRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="SweetSoftMembershipProvider" userIsOnlineTimeWindow="20" hashAlgorithmType="SHA256">
      <providers>
        <clear />
        <add name="SweetSoftMembershipProvider" applicationName="SweetSoft.QLDA.BackOffice" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SweetSoft.QLDA.BackOffice" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="9" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0" viewStateEncryptionMode="Always" enableEventValidation="true" validateRequest="true">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
        <add tagPrefix="SweetSoft" namespace="SweetSoft.QLDA.Controls" assembly="SweetSoft.QLDA.Controls" />
        <add tagPrefix="SweetSoft" src="~/Controls/Breadcrumb/CtrlBreadcrumb.ascx" tagName="Navigation" />
        <add tagPrefix="SweetSoft" src="~/Controls/AutoComplete/ExtraAutoComplete.ascx" tagName="ExtraAutoComplete" />
        <add tagPrefix="SweetSoft" src="~/Controls/GridviewPaging.ascx" tagName="Paging" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <machineKey validationKey="41EDCA53EE6C85DEAF35CDC5F12FD323A296030A4175EB4E946DFEEE0C0CC007BA29A8A59B48281A939475EB450406EC805510745ED487A83104582F52998933" decryptionKey="063534281FFA966C07907DE19CB177308F8BCF35567598EE9B26D85A20D46E29" validation="SHA1" decryption="AES" />
    <!--<hostingEnvironment shadowCopyBinAssemblies="true"/>-->
    <!-- Hiển thị lỗi chi tiết -->
    <customErrors mode="Off" />
    <!-- Bật tracing để debug -->
    <!--<trace enabled="true" pageOutput="true" requestLimit="40" localOnly="true"/>-->
    <!-- Tăng timeout để debug -->

  </system.web>
  <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
      </staticTypes>
    </httpCompression>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <!-- Content Security Policy -->
        <add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=(), fullscreen=(self)" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="4294967295" />
        <verbs>
          <add verb="PUT" allowed="false" />
          <add verb="DELETE" allowed="false" />
        </verbs>
        <denyUrlSequences>
          <add sequence="--" />
          <add sequence=";" />
          <add sequence="/*" />
          <add sequence="*/" />
          <add sequence="' OR '" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <caching enabled="true" enableKernelCache="true" maxCacheSize="102400" maxResponseSize="512000">
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".mp4" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMaxAge="2.00:00:00" cacheControlMode="UseMaxAge" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <rewrite>
      <outboundRules>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=Lax" />
          <conditions />
        </rule>
        <rule name="Remove Server Header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=Lax" negate="true" />
          </preCondition>
          <preCondition name="3xx Redirect">
            <add input="{RESPONSE_STATUS}" pattern="3[0-9][0-9]" />
          </preCondition>
          <preCondition name="3xx redirect no query string">
            <add input="{RESPONSE_LOCATION}" pattern="^(.*)(\?.+)$" negate="true" />
            <add input="{RESPONSE_STATUS}" pattern="3[0-9][0-9]" />
          </preCondition>
          <preCondition name="3xx redirect with query string">
            <add input="{RESPONSE_STATUS}" pattern="3[0-9][0-9]" />
            <add input="{RESPONSE_LOCATION}" pattern="^(.*)(\?.+)$" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <rules>
        <rule name="Redirect root to landing" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/trang-chu" redirectType="Permanent" />
        </rule>
        <rule name="403" stopProcessing="true">
          <match url="^403\/?$" />
          <action type="Rewrite" url="/AccessDenied.aspx" />
        </rule>
        <rule name="404" stopProcessing="true">
          <match url="^404\/?$" />
          <action type="Rewrite" url="/NotFound.aspx" />
        </rule>
        <!--Account CMS-->
        <rule name="AdminPanelUserList" stopProcessing="true">
          <match url="^Users(\/)?$" />
          <action type="Rewrite" url="/fUsers/UserList.aspx" />
        </rule>
        <rule name="AdminPanelUserGroupDetail" stopProcessing="true">
          <match url="^Role\/([^\/]+)?$" />
          <action type="Rewrite" url="/fUsers/RoleDetail.aspx?Id={R:1}" />
        </rule>
        <rule name="AddAdminPanelUserGroups" stopProcessing="true">
          <match url="^Role/Add\/?$" />
          <action type="Rewrite" url="/fUsers/RoleDetail.aspx" />
        </rule>
        <rule name="AdminPanelUserGroupsList" stopProcessing="true">
          <match url="^Roles(\/)?$" />
          <action type="Rewrite" url="/fUsers/RoleList.aspx" />
        </rule>
        <!--fSettings-->
        <rule name="AdminPanelSystemLogs" stopProcessing="true">
          <match url="^audit-logs(\/)?$" />
          <action type="Rewrite" url="/fSettings/AuditTrails.aspx" />
        </rule>
        <rule name="AdminPanelSystemSetting" stopProcessing="true">
          <match url="^Settings(\/)?$" />
          <action type="Rewrite" url="/fSettings/Settings.aspx" />
        </rule>
        <rule name="AdminPanelFileManagers" stopProcessing="true">
          <match url="^Files(\/)?$" />
          <action type="Rewrite" url="/fFiles/FileListing.aspx" />
        </rule>
        <!--End fSettings-->
        <!--EmailTemplates CMS-->
        <rule name="AdminPanelEmailTemplateAdd" stopProcessing="true">
          <match url="^email-template/Add\/([^\/]+)?$" />
          <action type="Rewrite" url="/fEmailTemplate/EmailTemplateDetail.aspx" />
        </rule>
        <rule name="AdminPanelEmailTemplateDetail" stopProcessing="true">
          <match url="^email-template\/([^\/]+)?$" />
          <action type="Rewrite" url="/fEmailTemplate/EmailTemplateDetail.aspx?Id={R:1}" />
        </rule>
        <rule name="AdminPanelEmailTemplateList" stopProcessing="true">
          <match url="^email-templates(\/)?$" />
          <action type="Rewrite" url="/fEmailTemplate/EmailTemplates.aspx" />
        </rule>
        <!--End EmailTemplates-->
        <rule name="AdminPanelFileManagerBrowse" stopProcessing="true">
          <match url="^file-management.html" />
          <action type="Rewrite" url="/_RFMng/Default.aspx" />
        </rule>
        <rule name="AdminPanelProfile" stopProcessing="true">
          <match url="^Profile(\/)?$" />
          <action type="Rewrite" url="/Profile.aspx" />
        </rule>
        <rule name="AdminPanelForgotPassword" stopProcessing="true">
          <match url="^forgot-password(\/)?$" />
          <action type="Rewrite" url="/ForgotPassword.aspx" />
        </rule>
        <rule name="AdminPanelResetPassword" stopProcessing="true">
          <match url="^reset-password(\/)?$" />
          <action type="Rewrite" url="/ResetPassword.aspx" />
        </rule>
        <rule name="AdminPanelLogin" stopProcessing="true">
          <match url="^Login(\/)?$" />
          <action type="Rewrite" url="/Login.aspx" />
        </rule>
        <rule name="AdminPanelLockScreen" stopProcessing="true">
          <match url="^lock-screen(\/)?$" />
          <action type="Rewrite" url="/LockScreen.aspx" />
        </rule>
        <rule name="AdminPanelHome" stopProcessing="true">
          <match url="^Home(\/)?$" />
          <action type="Rewrite" url="/Default.aspx" />
        </rule>
        <rule name="AdminPanelAdmin" stopProcessing="true">
          <match url="^AdminPanel(\/)?$" />
          <action type="Rewrite" url="/Default.aspx" />
        </rule>
        <!--Grade and class-->
        <rule name="AdminPanelClassList" stopProcessing="true">
          <match url="^classes(\/)?$" />
          <action type="Rewrite" url="/fGradeAndClass/ClassList.aspx" />
        </rule>
        <rule name="AdminPanelGradeList" stopProcessing="true">
          <match url="^grades(\/)?$" />
          <action type="Rewrite" url="/fGradeAndClass/GradeList.aspx" />
        </rule>
        <rule name="AdminPanelGradeDetail" stopProcessing="true">
          <match url="^Grade\/([^\/]+)?$" />
          <action type="Rewrite" url="/fGradeAndClass/GradeDetail.aspx?Id={R:1}" />
        </rule>
        <!-- End grade and class-->
        <!--Competition-->
        <rule name="AdminPanelCompetitionList" stopProcessing="true">
          <match url="^Competitions(\/)?$" />
          <action type="Rewrite" url="/fCompetition/CompetitionList.aspx" />
        </rule>
        <rule name="AdminPanelCompetitionDetail" stopProcessing="true">
          <match url="^Competition\/([^\/]+)?$" />
          <action type="Rewrite" url="/fCompetition/CompetitionDetail.aspx?Id={R:1}" />
        </rule>
        <!-- End competition-->
        <!--Contest-->
        <rule name="WarmUpRoundIndex" stopProcessing="true">
          <match url="^warn-up-round-index\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/WarmUpRoundIndex.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>
        <rule name="WarmUpRound result" stopProcessing="true">
          <match url="^warn-up-round-result\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/WarmUpRoundResult.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>
        <rule name="WarmUpRound" stopProcessing="true">
          <match url="^warn-up-round\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/WarmUpRound.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>
        <rule name="Contest index" stopProcessing="true">
          <match url="^contest-index\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/Index.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>
        <rule name="obstacle-course-roundIndex" stopProcessing="true">
          <match url="^obstacle-course-round-index\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/ObstacleCourseRoundIndex.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>
        <rule name="obstacle-course-round result" stopProcessing="true">
          <match url="^obstacle-course-round-result\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/ObstacleCourseRoundResult.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>
        <rule name="obstacle-course-round" stopProcessing="true">
          <match url="^obstacle-course-round\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/ObstacleCourseRound.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>

        <!-- End competition-->
        <rule name="final-roundIndex" stopProcessing="true">
          <match url="^final-round-index\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/FinalRoundIndex.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>

        <rule name="final-round result" stopProcessing="true">
          <match url="^final-round-result\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/FinalRoundResult.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>

        <rule name="final-round" stopProcessing="true">
          <match url="^final-round\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/FinalRound.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>

        <rule name="AdminPanelJoinCompetition" stopProcessing="true">
          <match url="^join-competition(\/)?$" />
          <action type="Rewrite" url="/fJoinCompetition/JoinCompetition.aspx" />
        </rule>

        <rule name="MCScreen" stopProcessing="true">
          <match url="^mc-screen\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/MCScreen.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>

        <rule name="Secretary screen" stopProcessing="true">
          <match url="^secretary-screen\/([^\/]+)\/([^\/]+)?$" />
          <action type="Rewrite" url="/Contest/SecretaryScreen.aspx?competition={R:1}&amp;round={R:2}" />
        </rule>
        <rule name="Home Page" stopProcessing="true">
          <match url="^trang-chu(\/)?$" />
          <action type="Rewrite" url="/Default.aspx" />
        </rule>
		  <!--Document Management-->
		  <rule name="AdminPanelDocumentDetail" stopProcessing="true">
			  <match url="^Document\/([^\/]+)?$" />
			  <action type="Rewrite" url="/fDocuments/DocumentDetail.aspx?Id={R:1}" />
		  </rule>
		  <rule name="AdminPanelDocuments" stopProcessing="true">
			  <match url="^Documents(\/)?$" />
			  <action type="Rewrite" url="/fDocuments/Documents.aspx" />
		  </rule>
		  <rule name="AdminPanelDocumentGroups" stopProcessing="true">
			  <match url="^Document-groups(\/)?$" />
			  <action type="Rewrite" url="/fDocuments/DocumentGroups.aspx" />
		  </rule>
		  <rule name="AdminPanelDocumentTypes" stopProcessing="true">
			  <match url="^Document-types(\/)?$" />
			  <action type="Rewrite" url="/fDocuments/DocumentTypes.aspx" />
		  </rule>
		  <rule name="AdminPanelDocumentStorageLocations" stopProcessing="true">
			  <match url="^Document-storage-locations(\/)?$" />
			  <action type="Rewrite" url="/fDocuments/StorageLocations.aspx" />
		  </rule>
		  <rule name="AdminPanelDocumentTemplates" stopProcessing="true">
			  <match url="^Document-templates(\/)?$" />
			  <action type="Rewrite" url="/fDocuments/DocumentTemplates.aspx" />
		  </rule>
		  <!--End Document Management-->
      </rules>

    </rewrite>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="forgot-password">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Lookup/LookupTestResults.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LookupTestResults">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="reset-password">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Controls/Captcha.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="QRCoder" publicKeyToken="c4ed5b9ae8358a28" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 5B42651C-5D9F-4DBE-A563-8B388B3F8B1D-->
