body[data-bs-overflow="auto"]{
    overflow:hidden !important;
    height:100vh;
}
.x-window-default{
    top: 15% !important;
}
.box-shadow-body {
    border-radius: 10px;
    -webkit-box-shadow: -1px 9px 25px 15px rgba(173,173,173,1);
    -moz-box-shadow: -1px 9px 25px 15px rgba(173,173,173,1);
    box-shadow: -1px 9px 25px 15px rgba(173,173,173,1);
}

.apexcharts-text tspan {
    color: #000000 !important;
}
.apexcharts-xaxis text, .apexcharts-yaxis text {
    fill: #000000 !important;
    cursor:pointer;
}
textarea.form-control.ext-error, .select2-selection.select2-selection--single.ext-error {
    border: 1px solid #fd625e !important;
    background-color: #FDE1E1 !important
}

.fieldset-box {
    border-radius: 10px;
    border: 1px solid #4a1387;
}

    .fieldset-box legend {
        float: none;
        width: auto;
        font-size: 16px;
        padding: 0 10px;
        font-weight: 600;
        color: #4a1387;
    }

.input-group input[disabled], input[disabled]:not(.input-default), select[disabled], span.select2-container--disabled, .disabled {
    background-color: #dfdfdf !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFAQMAAAC3obSmAAAABlBMVEUAAADw8PC5otm+AAAAAXRSTlMAQObYZgAAABJJREFUCNdj4GAQYFBgcGBoAAACogD5g5VHSAAAAABJRU5ErkJggg==);
    border-color: #ddd;
    cursor: default;
    opacity: 1 !important;
}

.bootstrap-dropdown.disabled,
.bootstrap-dropdown .btn-info.disabled,
.bootstrap-dropdown .btn-info:disabled {
    background: transparent;
}
.group-switch{
    min-height:30.39px;
}
/*Custom tagbox*/
.tagbox {
    display: flex;
    flex-wrap: wrap;
}

.search-tag {
    width: auto;
    border: 1px solid #4a1387;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom:5px;
    border-radius:5px;
    overflow:hidden;
}

    .search-tag span.form-control {
        font-size: 13px !important;
        color: #000;
        border-radius:unset;
    }

        .search-tag span b {
            color: #4a1387
        }

    .search-tag .search-criteria {
        padding: 0 5px;
    }

        .search-tag .search-criteria i {
            padding-top: 7px;
        }

@media (max-width: 768px) {
    .tagbox {
        display: block;
    }

    .search-tag {
        margin-bottom: 5px;
    }
}
#box-1057, #box-1100 {
    display: none !important;
}

.modal-header.modal-danger {
    color: #fff;
    background-color: #fd625e;
    border-color: #fd625e;
}
.modal-header .modal-title{
    font-weight:bold;
    color: var(--bs-primary);
}

.modal-header.modal-primary .modal-title {
    color: #fff;
}
.modal-header.modal-primary {
    color: #fff !important;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.modal-header.modal-info {
    color: #fff;
    background-color: #4ba6ef;
    border-color: #4ba6ef;
}

.modal-header.modal-success {
    color: #fff;
    background-color: #2ab57d;
    border-color: #2ab57d;
}

.modal-header.modal-warning {
    background-color: #ffbf53;
    border-color: #ffbf53;
}

    .modal-header.modal-danger .modal-title, .modal-header.modal-info .modal-title,
    .modal-header.modal-success .modal-title, .modal-header.modal-warning .modal-title {
        color: #fff;
    }

.modal-dialog .modal-content {
    border: none;
}
.modal-dialog.modal-fullscreen > div:nth-child(1) {
    height:100%;
}

#loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 54%);
    z-index: 9999;
}

    #loading-wrapper img {
        position: absolute;
        top: 47%;
        left: 47%;
        background: transparent;
        width: 100px;
        height: auto;
    }
.col-captcha input.form-control {
    margin-right: 0;
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.imageCapcha {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
    height: 38.94px;
}
.label {
    text-shadow: none !important;
    font-size: 14px;
    font-weight: 300;
    padding: 3px 6px;
    color: #fff;
    min-width: 60px
}

.label-primary {
    background-color: #337ab7;
}

.label-success {
    background-color: #36c6d3;
}

.label-danger {
    background-color: #ed6b75;
}

.label-info {
    background-color: #cd7247;
}

.label-warning {
    background-color: #f1c40f;
}

.progress {
    height: 1rem;
}

.progress-text {
    left: 43%;
    color: #ad6d0d;
    font-size: 13px;
    line-height: 16px;
}

.label-verygood {
    background-color: #33CC66;
}

.label-good {
    background-color: #33CCCC;
}

.label-average {
    background-color: #99CCFF;
}

.label-weak {
    background-color: #CC6633;
}

.label-poor {
    background-color: #CC3300;
}

.label-note {
    font-style: italic;
    color: red;
}

.btn-copy {
    cursor: pointer;
}

.box-file {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}

    .box-file .label-text {
        position: absolute;
        left: 40px;
        bottom: 66px;
        background: white;
        color: lightcoral;
    }

.get-link {
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 13px;
}

    .get-link .fa {
        font-size: 13px;
        font-weight: 600;
    }

ul[aria-multiselectable="true"] .select2-results__option--selected,
ul[aria-multiselectable="true"] .select2-results__option[aria-selected="true"] {
    display: none !important;
}

#file-box-viewer {
    display: none;
}
.input-group .input-group-text {
    border: 1px solid #6e7680;
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
}
img[data-selector="imgLogo"], img.imgthumb {
    cursor: pointer;
    max-width: 200px;
    border: 1px solid;
}
.list-style-none{
    list-style:none !important;
}
.btn-grid-action i{
    font-size: 12px !important;
}
.help-text {
    font-size: 11px;
    font-style: italic;
    color: red;
}
.js-calc-scroll-content,
.js-calc-scroll-content-no-padding,
.js-calc-scroll-sku {
    overflow-y: scroll;
}
    .js-calc-scroll-sku{
        overflow-x:hidden
    }
    .border-top-right-radius-0,
    .border-top-right-radius-0 .select2-container .selection .select2-selection {
        border-top-right-radius: 0px !important;
    }
.border-bottom-right-radius-0,
.border-bottom-right-radius-0 .select2-container .selection .select2-selection {
    border-bottom-right-radius: 0px !important;
}
.border-top-left-radius-0,
.border-top-left-radius-0 .select2-container .selection .select2-selection {
    border-top-left-radius: 0px !important;
}
.border-bottom-left-radius-0,
.border-bottom-left-radius-0 .select2-container .selection .select2-selection {
    border-bottom-left-radius: 0px !important;
}
.border-left-0{
    border-left:0 !important;
}
.border-right-0 {
    border-right: 0 !important;
}
a[disabled="disabled"], button[disabled="disabled"] {
    background-color: #cdcdcd;
    border-color: #cdcdcd;
    color: #fff;
    box-shadow: none;
}

    a[disabled="disabled"] > *, button[disabled="disabled"] > * {
        color: #fff;
    }
.offcanvas-form-search .offcanvas-body{
    overflow:hidden;
}
.border-radius-0 {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}
.border-top-left-radius-1 {
    -moz-border-radius-topleft: var(--bs-border-radius) !important;
    -webkit-border-top-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
}
.border-top-right-radius-1 {
    -moz-border-radius-topright: var(--bs-border-radius) !important;
    -webkit-border-top-right-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}
.border-bottom-left-radius-1 {
    -moz-border-radius-bottomleft: var(--bs-border-radius) !important;
    -webkit-border-bottom-left-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
}
.border-bottom-right-radius-1 {
    -moz-border-radius-bottomright: var(--bs-border-radius) !important;
    -webkit-border-bottom-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
}
.bootstrap-dropdown .dropdown-menu .dropdown-item:hover {
    background: var(--bs-primary) !important;
    color: #fff !important;
}
.w-170{
    width: 170px !important;
}
.min-w-170{
    min-width: 170px !important;
}
.w-250 {
    width: 250px !important;
}
.min-w-250 {
    min-width: 250px !important;
}

.input-group:has(.datetime-w-250) {
    width: 250px !important;
}

.table-fixed-column td:last-child.action, .table-fixed-column th:last-child.action {
    background-color: unset;
    --bs-table-color-type: unset;
    --bs-table-bg-type: unset !important;
}
.inogre .table-extra.table-responsive {
    min-height: auto !important;
    border: unset !important;
}
.server-message{
    margin-top: 100px;
}
.overflow-x-hidden{
    overflow-x: hidden !important;
}
.text-black {
    color: #000 !important;
}

.list-action-dropdown-reponesive {
    list-style: none; /* tắt bullet marker */
}