.file-box .sorting-control {
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 12px 6px 30px;
    background: white;
}

.file-box .control-help {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

/*.file-box .uploaded-content {
            min-height: 250px;
        }*/

.file-box .uploaded-content .progress-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    padding: 0 5px;
}

.file-box .uploaded-content .number {
    position: absolute;
    z-index: 2;
    color: whitesmoke;
    width: 100%;
}

.file-box .uploaded-content .bar {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background: #5cb85c;
}

.file-box .uploaded-content .progress {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

.file-box .uploaded-content .item {
    text-align: center;
    padding: 5px;
    position:relative;
}
    .file-box .uploaded-content .item .bg-body {
        background-color: rgb(251 244 214 / 77%) !important;
        border-radius:10px !important;
        overflow:hidden;
        padding:5px 0;
    }
    .file-box .uploaded-content .img-container {
        height: 100px;
        height: 100px;
        background: white;
        display: inline-block;
        align-items: center;
        border: 1px solid #ecf6ff;
        overflow: hidden;
        position: relative;
    }

    .file-box .uploaded-content .img-container .img-control {
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        position: absolute;
        background: #4a1387;
        width: calc(50% - 1px);
        bottom: 0;
        color: white;
        padding: 2px 0;
        font-size: 12px;
    }

        .file-box .uploaded-content .img-container .img-control.left {
            left: 0;
        }

        .file-box .uploaded-content .img-container .img-control.right {
            right: 0;
        }

    .file-box .uploaded-content .img-container:hover .img-control {
        opacity: 1;
        pointer-events: all;
    }

.file-box.file-box-single:hover .uploaded-content .img-container .img-control {
    opacity: 1;
    pointer-events: all;
}

.file-box .uploaded-content .item img.opaction:hover, .uploaded-content .item img.opaction:focus {
    opacity: 1;
}

.file-box .uploaded-content .item img, .file-box .uploaded-content .item.add {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 100%;
}

    .file-box .uploaded-content .item.add img {
        border: none;
        cursor: pointer;
    }

.file-box .opaction img {
    opacity: 0.5;
}

.file-box .opaction .img-control.right {
    pointer-events: none !important;
    background: #cdcdcd;
}

.file-box .last-item .item {
    position: relative !important;
}

.file-box .uploaded-content .item .title, .file-box .uploaded-content .item .order, .file-box .uploaded-content .item .source {
    border: 0;
    text-align: center;
    border-bottom: 1px dashed #80afd0;
}

.file-box .uploaded-content .item .order, .file-box .uploaded-content .item .file-path {
    width: 40px;
    display: none;
}

.file-box .uploaded-content .item .title {
    /*border-right: 1px solid #80afd0 !important;*/
    width: 100%;
}

.file-box .remove-item, .sort-item {
    color: black;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    background: #fff;
    padding: 2px;
}

.file-box .remove-item {
    margin-right: 5px;
    -webkit-border-radius: 0px 0px 0px 4px;
    -o-border-radius: 0px 0px 0px 4px;
    -ms-border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
    border-radius: 0px 0px 0px 4px;
    background-color:transparent;
    color:red;
}

.file-box .sort-item {
    left: 5px;
    -webkit-border-radius: 0px 0px 4px 0px;
    -o-border-radius: 0px 0px 4px 0px;
    -ms-border-radius: 0px 0px 4px 0px;
    -moz-border-radius: 0px 0px 4px 0px;
    border-radius: 0px 0px 4px 0px;
    background-color: transparent;
    display: none;
}
.file-box .file-actions .form-check {
    padding: 0.532rem 0.5rem
}
.file-box .file-actions .form-check-input{
    margin-left:0 !important;
}
.file-box .control .btn {
    align-items: center;
    display: flex;
    align-content: center;
    align-self: center;
}
/*.file-box .uploaded-content .item:hover {
    outline: 1px solid rgba(0, 160, 175, 0.5);
}*/

#file-pop .modal-header {
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 1;
    padding: 0;
    border: none;
}

    #file-pop .modal-header button {
        border: none;
    }

.file-box .uploaded-content.sorting .item .img-container {
    height: 50px;
    overflow: hidden;
}

.file-box .uploaded-content.sorting .sort-item {
    display: block;
}

.file-box .uploaded-content.sorting .remove-item, .file-box .uploaded-content.sorting .file-actions {
    display: none;
}

.file-box .sorting-control {
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 12px 6px 30px;
}

.file-box.file-box-single .control {
    position: absolute;
    height: 100%;
    z-index: 999;
    background: transparent;
}

    .file-box.file-box-single .control > * {
        opacity: 0;
    }

    .file-box.file-box-single .control .btn-add-file {
        opacity: 1;
        position: absolute;
        width: 100%;
        height: calc(100% - 35px) !important;
        z-index: 9;
        opacity: 0;
    }

.file-box.file-box-single .uploaded-content .item {
    width: 100%;
    padding: 0;
    position: relative !important;
}

    .file-box.file-box-single .uploaded-content .item .title {
        display: none;
    }

.file-box.file-box-single .uploaded-content .img-container {
    height: auto;
}

    .file-box.file-box-single .uploaded-content .img-container .img-control.left {
        display: none;
    }

    .file-box.file-box-single .uploaded-content .img-container .img-control.right {
        width: 100%;
    }

.file-box.file-box-single .remove-item {
    /*display: none;*/
    z-index: 999;
}

.file-box.file-box-single .opaction img {
    opacity: 1;
}

/*.file-box.file-box-single .uploaded-content .progress-content {
    display: none !important;
}*/
.file-box.file-box-single .rel-contant {
    /*display: table;*/
    text-align:center;
    position: relative;
}
.file-box.file-box-single .uploaded-content .img-container {
    background: transparent;
    max-width: 250px;
}

.file-box.file-box-single .uploaded-content .item img[src="/images/pdf-thumbnail.png"] {
    max-height: 150px;
}
